<div mdbModal [ngClass]="open?  'modal fade bottom in show' : 'modal fade bottom'" id="frameModalTop" [ngStyle]="{'display':  open? 'block' : 'none' }"
  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- Default form contact -->
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
      <form class="text-center border border-light p-5" [formGroup]="userForm" (ngSubmit)="onSubmit()">

        <p class="h4 mb-4">User Form</p>

        <!-- First Name -->
        <input type="text" formControlName="firstName" class="form-control mb-4" placeholder="First Name">
        <!-- Last Name -->
        <input type="text" formControlName="lastName" class="form-control mb-4" placeholder="Last Name">

        <!-- Email -->
        <input type="email" formControlName="email" class="form-control mb-4" placeholder="E-mail">

        <!-- Email -->
        <input type="password" formControlName="password" class="form-control mb-4" placeholder="Password">

        <!-- Subject -->
        <label>User Role</label>
        <select formControlName="role" class="browser-default custom-select mb-4">
          <option value="" disabled>Choose option</option>
          <option *ngFor="let role of roles; let i = index" [value]="i">{{role}}
          </option>
        </select>


        <!-- Send button -->
        <button class="btn btn-info btn-block" type="submit">Send</button>


      </form>
      <!-- Default form contact -->
    </div>

  </div>
</div>
<mdb-modal-backdrop *ngIf=open class="fade in show modal-backdrop"></mdb-modal-backdrop>