<div mdbModal [ngClass]="open?  'modal fade bottom in show' : 'modal fade bottom'" id="frameModalTop" [ngStyle]="{'display':  open? 'block' : 'none' }"
  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- Default form contact -->
      <div class="card">
          <h5 class="card-header h5">User Details</h5>
          <div class="card-body">
            <h5 class="card-title">{{user.firstName + ' ' + user.lastName}}</h5>
            <p class="card-text">{{user.email}}</p>
            <button (click)="close()" href="#!" class="btn btn-primary">Done !</button>
          </div>
        </div>

        <div *ngIf="user.account!=[]" class="list-group">
            <a *ngFor="let account of user.accounts; let i = index" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{account.name}}</h5>
                <small>{{account.branch}}</small>
              </div>
              <p class="mb-1"><b>{{account.balance | currency: 'Rs. ':true}}</b></p>
              <small>{{account.id}}</small>
            </a>
          </div>
      <!-- Default form contact -->
    </div>

  </div>
</div>
<mdb-modal-backdrop *ngIf=open class="fade in show modal-backdrop"></mdb-modal-backdrop>