<div mdbModal [ngClass]="open?  'modal fade bottom in show' : 'modal fade bottom'" id="frameModalTop" [ngStyle]="{'display':  open? 'block' : 'none' }"
  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- Default form contact -->
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
      <form class="text-center border border-light p-5" [formGroup]="accountForm" (ngSubmit)="onSubmit()">

        <p class="h4 mb-4">Account Form</p>

        <!-- First Name -->
        <input type="text" formControlName="name" class="form-control mb-4" placeholder="Account Name">
        <!-- Last Name -->
        <input type="text" formControlName="branch" class="form-control mb-4" placeholder="Branch">

        <!-- Email -->
        <input type="text" formControlName="balance" class="form-control mb-4" placeholder="Balance">
        <!-- Subject -->
        <label>Customer</label>
        <select formControlName="ownerId" class="browser-default custom-select mb-4" >
          <option value="" disabled>Choose option</option>
          <option *ngFor="let customer of customers; let i = index" [value]="customer.id">{{customer.firstName + ' ' + customer.lastName }}
          </option>
        </select>


        <!-- Send button -->
        <button class="btn btn-info btn-block" type="submit">Send</button>


      </form>
      <!-- Default form contact -->
    </div>

  </div>
</div>
<mdb-modal-backdrop *ngIf=open class="fade in show modal-backdrop"></mdb-modal-backdrop>