<div class="card">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="md-form">
        <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInputDirective>
        <label for="search">Search</label>
      </div>
      <div class="col-md-12">
        <button type="button" mdbBtn color="info" (click)="newUser()"
          mdbWavesEffect>New User
          <mdb-icon far icon="user" class="ml-1"></mdb-icon>
        </button>
        <app-user-form [userId]="selectedUserId" [open]="openModal" (modalClose)='closeModal($event)' ></app-user-form>
        <app-user-view [userId]="selectedUserId" [open]="openModalView" (modalClose)='closeModalView($event)' ></app-user-view>
      </div>

    </div>
  </div>
  
  <table mdbTable hover="true">
    <thead>
      <tr>
        <th *ngFor="let head of headElements; let i = index" scope="col">{{head}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of users; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{u.firstName}}</td>
        <td>{{u.lastName}}</td>
        <td>{{u.email}}</td>
        <td>{{this.getRole(u.role)}}</td>
        <td>
          <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <button (click)="view(i)" mdbBtn type="button" color="info" size="sm" class="waves-light" mdbWavesEffect><i
                class="far fa-eye"></i></button>
            <button (click)="update(i)" mdbBtn type="button" color="primary" size="sm" class="waves-light"
              mdbWavesEffect><i class="far fa-edit"></i></button>
            <button (click)="remove(i)" mdbBtn type="button" color="danger" size="sm" class="waves-light"
              mdbWavesEffect><i class="far fa-trash-alt"></i></button>
          </div>

        </td>
      </tr>
    </tbody>
    <tfoot class="grey lighten-5 w-100">

      <tr>
        <td colspan="4">
          <mdb-table-pagination (nextPageClick)="onNextPageClick($event)" (previousPageClick)="onPreviousPageClick($event)">
          </mdb-table-pagination>
        </td>
      </tr>

    </tfoot>
  </table>
</div>