<!-- Footer -->
<footer class="page-footer font-small blue fixed-bottom">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://google.lk/"> Co-Op Insurance (pvt) Ltd</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->