<div class="jumbotron">
    <h1 class="display-1">4<i class="fa  fa-spin fa-cog fa-2x"></i>4</h1>
    <h1 class="display-3">ERROR</h1>
    <p class="lower-case">Ohh!! Webpage Not Found. Try Refresh the Page.</p>
    <p class="lower-case">Maybe the user not allowed to visit.</p>

</div>