<div mdbModal [ngClass]="open?  'modal fade bottom in show' : 'modal fade bottom'" id="frameModalTop" [ngStyle]="{'display':  open? 'block' : 'none' }"
  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- Default form contact -->
      <div class="card">
          <h5 class="card-header h5">Account Details</h5>
          <div class="card-body">
              <ul class="list-group">
                  <li class="list-group-item active">
                    <div class="md-v-line"></div><i class="fas fa-cogs mr-5"></i>{{account.name}}
                  </li>
                  <li class="list-group-item">
                    <div class="md-v-line"></div><i class="far fa-money-bill-alt mr-5"></i>{{account.balance | currency: 'Rs. ':true}}
                  </li>
                  <li class="list-group-item">
                    <div class="md-v-line"></div><i class="fas fa-city mr-5"></i>{{account.branch}}
                  </li>
                  <li class="list-group-item">
                    <div class="md-v-line"></div><i class="fab fa-slack-hash mr-5"></i>{{account.id}}
                  </li>
                  <li class="list-group-item">
                    <div class="md-v-line"></div><i class="far fa-user mr-5"></i>{{account.owner.firstName + ' ' + account.owner.lastName}}
                  </li>
                </ul>
            <button (click)="close()" href="#!" class="btn btn-primary">Done !</button>
          </div>
        </div>
      <!-- Default form contact -->
    </div>

  </div>
</div>
<mdb-modal-backdrop *ngIf=open class="fade in show modal-backdrop"></mdb-modal-backdrop>