.jumbotron{
    margin: 5rem 0 0 0;
    box-shadow: 0 -5px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0;
    background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);
}
