<div class="jumbotron text-center mdb-color info-color-dark white-text">

  <!-- Title -->
  <h2 class="card-title h2">Co-operative Insurance Company Limited</h2>
  <p class="my-4 h6">A Trustful Friendly Insurer for all your Insurance needs with Superior Premium Rates.</p> 
  <flash-messages></flash-messages>


</div>