<!-- Default form login -->
<div class="row border justify-content-md-center border-light p-5">
  <div class="col-lg-6 col-md-8 col-sm-12">
    <form class="text-center border border-light p-5" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <p class="h4 mb-4">Login</p>
    
      <!-- Email -->
      <input formControlName="email" type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
    
      <!-- Password -->
      <input formControlName="password" type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
    
      <div class="d-flex justify-content-around">
        <div>
          <!-- Remember me -->
          <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
        </div>
        <div>
          <!-- Forgot password -->
          <a routerLink="/forgot" >Forgot password?</a>
        </div>
      </div>
    
      <!-- Sign in button -->
      <button mdbBtn color="info" block="true" class="my-4" type="submit">Sign in</button>
    
      <!-- Register -->
      <p>Not a member?
        <a  routerLink="/register" >Register</a>
      </p>
    
      <!-- Social login -->
      <p>or sign in with:</p>
    
      <a type="button" class="light-blue-text mx-2">
        <!-- <i class="fab fa-facebook-f"></i> -->
        <mdb-icon fab icon="facebook"></mdb-icon>
      </a>
      <a type="button" class="light-blue-text mx-2">
        <!-- <i class="fab fa-twitter"></i> -->
        <mdb-icon fab icon="twitter"></mdb-icon>
      </a>
      <a type="button" class="light-blue-text mx-2">
        <!-- <i class="fab fa-linkedin-in"></i> -->
        <mdb-icon fab icon="linkedin"></mdb-icon>
      </a>
      <a type="button" class="light-blue-text mx-2">
        <!-- <i class="fab fa-github"></i> -->
        <mdb-icon fab icon="heart"></mdb-icon>
      </a>
    
    </form>
  </div>
</div>

  <!-- Default form login -->