<div class="card">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="md-form">
          <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInputDirective>
          <label for="search">Search</label>
        </div>
        <div class="col-md-12">
          <button type="button" mdbBtn color="info" (click)="newAccount()"
            mdbWavesEffect>New Account
            <mdb-icon far icon="account" class="ml-1"></mdb-icon>
          </button>
          <app-account-form [accountId]="selectedAccountId" [open]="openModal" (modalClose)='closeModal($event)' ></app-account-form>
          <app-account-view [accountId]="selectedAccountId" [open]="openModalView" (modalClose)='closeModalView($event)' ></app-account-view>
        </div>
  
      </div>
    </div>
    
    <table mdbTable hover="true">
      <thead>
        <tr>
          <th *ngFor="let head of headElements; let i = index" scope="col">{{head}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of accounts; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{a.name}}</td>
          <td>{{a.branch}}</td>
          <td>{{a.balance}}</td>
          <td>{{a.owner.firstName + ' '+ a.owner.lastName}}</td>
          <td>
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button (click)="view(i)" mdbBtn type="button" color="info" size="sm" class="waves-light" mdbWavesEffect><i
                  class="far fa-eye"></i></button>
              <button *ngIf='isManager' (click)="update(i)" mdbBtn type="button" color="primary" size="sm" class="waves-light"
                mdbWavesEffect><i class="far fa-edit"></i></button>
              <button *ngIf='isManager' (click)="remove(i)" mdbBtn type="button" color="danger" size="sm" class="waves-light"
                mdbWavesEffect><i class="far fa-trash-alt"></i></button>
            </div>
  
          </td>
        </tr>
      </tbody>
      <tfoot class="grey lighten-5 w-100">
  
        <tr>
          <td colspan="4">
            <mdb-table-pagination (nextPageClick)="onNextPageClick($event)" (previousPageClick)="onPreviousPageClick($event)">
            </mdb-table-pagination>
          </td>
        </tr>
  
      </tfoot>
    </table>
  </div>