<div class="jumbotron text-center">
  <!-- Title -->
  <h2 class="card-title h2">Co-operative Insurance</h2>
  <!-- Subtitle -->
  <p class="blue-text my-4 font-weight-bold">A Trustful Friendly Insurer for all your Insurance needs with Superior Premium Rates.</p>

  <!-- Grid row -->
  <div class="row d-flex justify-content-center">

    <!-- Grid column -->
    <div class="col-xl-7 pb-2">

      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga aliquid dolorem ea distinctio exercitationem delectus qui, quas eum architecto, amet quasi accusantium, fugit consequatur ducimus obcaecati numquam molestias hic itaque accusantium doloremque laudantium, totam rem aperiam.</p>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <hr class="my-4">

  <div class="pt-2">
    <button type="button" class="btn btn-blue waves-effect"> Enter <i class="fas fa-sign-in-alt"></i></button>
    <button type="button" class="btn btn-outline-primary waves-effect"> Register <i class="fas fa-user-plus"></i></button>
  </div>
